openai>=1.2.4
streamlit
beautifulsoup4
requests
openai
matplotlib
spacy
textblob
wordcloud
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

