# Core libraries
streamlit
openai>=1.2.4
beautifulsoup4
requests
matplotlib
numpy
textblob
wordcloud
spacy==3.5.0

# SpaCy English model (Safe method)
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
